---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import { showTestimonials } from "../data/portfolio";
import "../styles/global.css";
---

<Layout>
  <div class="min-h-dvh bg-stone-50 overflow-x-hidden">
    <Header />
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Experience />
    {showTestimonials && <Testimonials />}
    <Contact />
    <Footer />
  </div>
</Layout>
